{% extends "core/form.html" %}

{% load bootstrap4 %}

{% block title %}{{ form_action }} Entry{% endblock %}
{% block content_form_classes %} page-entry{% endblock %}

{% block form %}

{% if parent %}<h2>Parent <i class="fas fa-exchange-alt" onclick="parent_tag_switch();"></i>: {{ parent.span }}</h2>{% endif %}
{% if tag %}<h2>Tag <i class="fas fa-exchange-alt" onclick="parent_tag_switch();"></i>: {{ tag.span }}</h2>{% endif %}

<form method="post" enctype="multipart/form-data" action="." ondblclick="this.submit();">
{% csrf_token %}
{% if parent %}<input type="hidden" name="parent" value="{{ parent.pk }}" />{% endif %}
{% if tag %}<input type="hidden" name="tag" value="{{ tag.pk }}" />{% endif %}
{% bootstrap_form form layout='horizontal' %}
<input class="col" type="hidden" name="next" value="{{ next }}">

{% if through_forms %}
<div class="form-group row form-entry-child-options">
	<label class="col-md-3 col-form-label" for="id_parents">Child options</label>
	<div class="col-md-9">
	{% for t in through_forms %}
		<div>
		<label class="col-md-7">{{ t.instance.child.name_get }}</label> {% bootstrap_form t layout='inline' %}
		</div>
	{% endfor %}
	</div>
</div>
{% endif %}

{% bootstrap_button form_action button_type="submit" button_class="btn-primary" title="Or double-click on the form." %}
</form>
{{ form.media }}

<script type="text/javascript">
function parent_tag_switch() {
	var params = new URLSearchParams(window.location.search);
	var orig   = '{% if parent %}parent{% else %}tag{% endif %}';
	var dest   = '{% if parent %}tag{% else %}parent{% endif %}';
	var value  = params.get(orig);
	params.delete(orig);
	params.set(dest, value);
	document.location = document.location.pathname+'?'+decodeURIComponent(params.toString());
	// console.log(params.toString());
}
</script>

{% endblock %}