{% extends 'base.html' %}

{% load static %}

{% block head_extra %}
{% endblock %}

{% block title %}Slideshow - {{ entry.name_get }}{% endblock %}

{% block content_classes %} page-slideshow{% endblock %}

{% block content %}

<div class="alert alert-secondary" role="alert">You are in slideshow mode, press "Enter" to go back to navigation, "Page Down" for next slide "Page Up" for rewind.</div>

{% include "core/entry_content.html" %}

<div id="spinner">
<div class="spinner-border" style="display: none;" role="status">
  <span class="sr-only">Loading...</span>
</div>
</div>

<script type="text/javascript">

$(document).ready(function() {

	var spinner = $('.spinner-border');

	function scroll_last_slide() {
		$([document.documentElement, document.body]).animate({scrollTop: $('.entry-content').last().offset().top-25}, 1000);
	}

	function next_slide_auto() {
		if($('.entry-content').last().data('next-auto')) next_slide(true);
	}

	function next_slide(auto=false) {

		if(spinner.is(":visible")) return;

		var last      = $('.entry-content').last();
		var next_path = last.data('next-path');

		if(!next_path) return;

		spinner.show();

		$.ajax({
		  url:    next_path,
		  data:   {'entry_content': true},
		  method: 'GET'
		}).done(function(response) {
			var next = $(response);
			if(!last.data('next-title')) $('h1.child-name', next).remove();
			last.after(next);
			spinner.hide();
		    if(!auto) scroll_last_slide();
		    next_slide_auto();
		});
	}

	document.onkeydown = function(evt) {

	    if (evt.key === 'Enter') {
	    	window.location = '{{ path_nav|safe }}';
	    }

	    else if (evt.key === 'PageDown') {
	    	next_slide();
	    }

	    else if (evt.key === 'PageUp') {

	    	if($('.entry-content').length <= 1) return;

	    	var last = $('.entry-content').last();

	    	last.fadeOut(500, function() {
	    		last.remove();
	    		scroll_last_slide();
	    	});
	    }
	};

	setTimeout(function() { $('.alert-secondary').fadeOut(1000); }, 5000);
	setTimeout(function() { window.scrollTo(0, 0); }, 100);

	next_slide_auto();
});

</script>

{% endblock %}